# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Ruby_project\res_dianping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
